body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E8EBE4; /* Background color */
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #D2D5DD; /* Container background color */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #798071; /* Header color */
}

input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #999AC6; /* Input border color */
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #999AC6; /* Button background color */
    color: #E8EBE4; /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #798071; /* Button hover background color */
}

#results {
    margin-top: 20px;
    color: #798071; /* Results text color */
}
